{% extends 'base.html' %}
{% load static %}
{% block about_active %}active{% endblock %}

{% block prime %}
    <div class="about">
        <h1>IOASA</h1>
        <img src="{% static 'img/team.jpg' %}">
        <p>The International Organization for Astronomical Science Advancement (IOASA) was founded in 1919. Its mission
            is to promote and safeguard the science of astronomy in all its aspects, including research, communication,
            education and development, through international cooperation. Its individual Members — structured into
            Divisions, Commissions, and Working Groups — are professional astronomers from all over the world, at the
            Ph.D. level and beyond, who are active in professional research, education and outreach in astronomy. The
            IOASA also has Junior Members. The IOASA has 13127 members. The Individual and Junior Members Directory
            contains 10591 names in 107 countries worldwide (these Individual Members are labeled as "active" in the
            IOASA database: they have a valid, public email, and are affiliated to at least one Division.). Out of
            those countries, 82 are National Members. In addition, the IOASA collaborates with various scientific
            organizations all over the world.</p>
        <p>The long-term policy of the IOASA is defined by the General Assembly and implemented by the Executive
            Committee, while day-to-day operations are directed by the IOASA Officers. The focal point of its activities
            is the IOASA Secretariat, hosted by the Institut d'Astrophysique de Paris in France. The scientific and
            educational activities of the IOASA are organized by its 9 Scientific Divisions and, through them, its 35
            specialized Commissions covering the full spectrum of astronomy, along with its 55 Working Groups.</p>
        <p>The key activity of the IOASA is the organization of scientific meetings. Every year the IOASA sponsors 9
            international IOASA Symposia. The IOASA Symposium Proceedings series is the flagship of the IOASA
            publications. Every three years the IOASA holds a General Assembly, which offers 6 IOASA Symposia, some
            15 Focus Meetings, and individual business and scientific meetings of Divisions, Commissions, and Working
            Groups and Offices. The proceedings of Focus Meetings are published in the Astronomy in Focus series. The
            triennial reports of the Divisions and Commissions are published in the Transactions of the IOASA - A
            series.The reports of the GA business meetings are published in the Transactions of the IOASA - B series.</p>
        <img class="floated" src="{% static 'img/radars.jpg' %}">
        <p>Among the other tasks of the IOASA are the definition of fundamental astronomical and physical constants;
            unambiguous astronomical nomenclature and informal discussions on the possibilities for future international
            large-scale facilities. Furthermore, the IOASA serves as the internationally recognized authority for
            assigning designations to celestial bodies and surface features on them.</p>
        <p>The IOASA also works to promote research, education and public outreach activities in astronomy for the
            public. These activities culminated with the organization of the UNESCO International Year of Astronomy
            in 2009, which reached out to over 800 million people from 148 countries. Following this effort, the
            IOASA has also established in 2015 the Office of Young Astronomers (OYA) , a joint venture with the
            Norwegian Academy of Sciences and Letters. In 2011 the IOASA created the Office of Astronomy for
            Development (OAD), a joint venture with the South African National Research Foundation where Astronomy
            is used as a tool for stimulating capacity building. The IOASA has also established in 2012 the Office
            for Astronomy Outreach (OAO), a joint venture with the National Astronomical Observatory of Japan.
            Furthermore, the IOASA has also established the Office of Young Astronomers (OYA), a joint venture
            with the Norwegian Academy of Sciences and Letters. The IOASA has recently launched an international
            call to establish the Office of Astronomy for Education (OAE) in 2019. Regional nodes have been created
            in other countries as well. In 2015 actively participated in the International Year of Light. The IOASA
            also carries out joint educational activities associated with COSPAR and UNESCO.</p>
    </div>
{% endblock %}