{% extends 'base.html' %}
{% load static %}
{% block partners_active %}active{% endblock %}
{% block prime %}
    <div class="partners">
        <h1 class="t-center">Our Partners</h1>
        <div class="partners-grid">
            <div class="partners-block">
                <a href="https://en.unesco.org"><img src="{% static 'img/logos/unesco.png' %}"></a>
                <a href="https://en.unesco.org"><h2>UNESCO</h2></a>
            </div>
            <div class="partners-block">
                <a href="https://www.esa.int"><img src="{% static 'img/logos/esa.png' %}"></a>
                <a href="https://www.esa.int"><h2>ESA</h2></a>
            </div>
            <div class="partners-block">
                <a href="http://www.cnsa.gov.cn"><img src="{% static 'img/logos/cnsa.png' %}"></a>
                <a href="http://www.cnsa.gov.cn"><h2>CNSA</h2></a>
            </div>
            <div class="partners-block">
                <a href="https://www.nasa.gov"><img src="{% static 'img/logos/nasa.png' %}"></a>
                <a href="https://www.nasa.gov"><h2>NASA</h2></a>
            </div>
            <div class="partners-block">
                <a href="https://unitar.org"><img src="{% static 'img/logos/unitar.png' %}"></a>
                <a href="https://unitar.org"><h2>UNITAR</h2></a>
            </div>
            <div class="partners-block">
                <a href="https://cds.u-strasbg.fr"><img src="{% static 'img/logos/cds.png' %}"></a>
                <a href="https://cds.u-strasbg.fr"><h2>CDS</h2></a>
            </div>
        </div>
        <h1 class="t-center" id="vendors">Our Vendors</h1>
    <div class="vendors-grid">
        <div class="vendors-block">
            <div class="vendor-image">
                <img src="{% static 'img/logos/logo1.jpg' %}">
            </div>
            <a href="https://www.sternregister.de"><h3>Sternregister</h3></a>
            <p>Germany, Mitterfels</p>
            <p>+49 961 62 1525</p>
        </div>
        <div class="vendors-block">
            <div class="vendor-image">
                <img src="{% static 'img/logos/logo2.jpg' %}">
            </div>
            <a href="https://www.zvezdavpodarok.ru"><h3>Звезда в Подарок</h3></a>
            <p>Russia, Kaliningrad</p>
            <p>+7 977 195 9851</p>
        </div>
        <div class="vendors-block">
            <div class="vendor-image">
                <img src="{% static 'img/logos/logo3.jpg' %}">
            </div>
            <a href="https://www.comprarunaestrella.es"><h3>Starling</h3></a>
            <p>Spain, Jerez del Marquesado</p>
            <p>+34 640 179 764</p>
        </div>
        <div class="vendors-block">
            <div class="vendor-image">
                <img src="{% static 'img/logos/logo4.jpg' %}">
            </div>
            <a href="https://star-name-registry.com"><h3>Star Name Registry</h3></a>
            <p>United Kingdom, Cardiff </p>
            <p>+44 8000 23 5452</p>
        </div>
        <div class="vendors-block">
            <div class="vendor-image">
                <img src="{% static 'img/logos/logo5.jpg' %}">
            </div>
            <a href="https://www.globalstarregistry.com/"><h3>Global Star Registry</h3></a>
            <p>Sweden, Stockholm</p>
            <p>+46 2012 99 768</p>
        </div>
        <div class="vendors-block">
            <div class="vendor-image">
                <img src="{% static 'img/logos/logo6.jpg' %}">
            </div>
            <a href="https://cosmonova.org"><h3>Cosmonova</h3></a>
            <p>Latvia, Riga</p>
            <p>+371 4020 311 6030</p>
        </div>
        <div class="vendors-block">
            <div class="vendor-image">
                <img src="{% static 'img/logos/logo7.jpg' %}">
            </div>
            <a href="https://yildizal.com"><h3>Yilidizal</h3></a>
            <p>Turkey, Ankara</p>
            <p>+90 312 354 1009</p>
        </div>
        <div class="vendors-block">
            <div class="vendor-image">
                <img src="{% static 'img/logos/logo8.jpg' %}">
            </div>
            <a href="https://etoilez-moi.com"><h3>Etoilez-moi</h3></a>
            <p>France, Paris</p>
            <p>+33 0539 678 2096</p>
        </div>
        <div class="vendors-block">
            <div class="vendor-image">
                <img src="{% static 'img/logos/logo9.jpg' %}">
            </div>
            <a href="https://navngivenstjerne.dk"><h3>Navngiv En Stjerne</h3></a>
            <p>Denmark, Copenhagen</p>
            <p>+45 5046 28684</p>
        </div>
        <div class="vendors-block">
            <div class="vendor-image">
                <img src="{% static 'img/logos/logo10.jpg' %}">
            </div>
            <a href="https://www.tvojehvezda.cz"><h3>Tvoje Hvězda</h3></a>
            <p>Czech Republic, Prague</p>
            <p>+420 721 580 709</p>
        </div>
        <div class="vendors-block">
            <div class="vendor-image">
                <img src="{% static 'img/logos/logo11.jpg' %}">
            </div>
            <a href="http://www.yourstar.pl"><h3>Your Star</h3></a>
            <p>Poland, Warsaw</p>
            <p>+48 66 519 16958</p>
        </div>
        <div class="vendors-block">
            <div class="vendor-image">
                <img src="{% static 'img/logos/logo12.jpg' %}">
            </div>
            <a href="https://www.lastellaservizi.it"><h3>La Stella Servizi</h3></a>
            <p>Italy, Milan</p>
            <p>+39 333 136 4960</p>
        </div>
    </div>
    </div>
{% endblock %}